/* global style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    background-color: #222;
}

/* style of all page element with grid css */
.container {

    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 600px;
    grid-template-rows: 100px 40px 40px auto auto;
    grid-template-areas:
        "logo input nav "
        ". nav_2 nav_2"
        ". about about"
        ". main aside"
        "pagenation pagenation pagenation"
        "footer footer footer"

}

/* style of google logo */
.google_logo {
    grid-area: logo;
    margin-top: 16px;
    margin-left: 10px;
}

/* style of search bar and input  */
i {
    color: #fff;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.search-bar {
    grid-area: input;
    border: 1px solid #888;
    margin-top: 16px;
    margin-left: 10px;
    padding: 12px;
    width: 75%;
    height: fit-content;
    justify-content: space-around;
    border-radius: 27px;
    margin-bottom: 35px;
    cursor: pointer;
    background-color: #333;
}

input {
    width: 85%;
    border: none;
    font-size: 22px;
    color: #fff;
    background-color: #333;
    outline: none;
    align-content: center;
}

.Gdd5U {
    width: 28px;
    height: 32px;
    vertical-align: sub;
}


.nav_1 {
    grid-area: nav;
    margin-left: auto;
    margin-right: 22px;
}

.nav_1 ul li {
    margin-left: 22px;
}

.account_img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    margin-top: 16px;
}

.nav_2 {
    grid-area: nav_2;
}

.nav_2 ul li a {
    list-style: none;
    text-decoration: none;
    margin: 16px;
    color: #999;

}

/* style the main content */
.about {
    grid-area: about;
    color: rgb(196, 191, 191);
    margin-left: 10px;
}


.main {
    grid-area: main;

}

.link_page a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 6px;
}


.link_page i {
    margin-left: 30px;
}

.page a {
    text-decoration: none;
    font-size: large;
    color: rgb(78, 40, 194);
}

.page p {
    margin-top: 12px;
    color: #fff;
    width: 75%;
    margin-bottom: 26px;
}


.page_in {
    margin: 24px;
}

.page_in a {
    text-decoration: none;
    color: rgb(78, 40, 194);
}

.page_in p {
    margin-top: 12px;
    color: #fff;
    width: 75%;
}


.also_ask p {
    margin: 24px;
    color: #fff;
}

.also_ask i {
    margin-left: 36px;
}

/* style aside (react info) */
.aside {
    grid-area: aside;
    color: #fff;
    border: 1px solid #999;
    width: 500px;
    height: 950px;

}

.info {
    width: 70%;
    color: #fff;
    margin-top: 10px;
}

.aside a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: large;
    margin-top: 14px;
}

.aside img {
    width: 500px;
}

.prog_img {
    margin-top: 30PX;
}

.aside div a {
    display: inline;
    margin: 26px;
    color: blueviolet;
}

.aside div {
    margin-top: 14px;
}

/* style pagenation google pages */
.pagenation {
    grid-area: pagenation;
    color: #fff;
    margin: auto;
    margin-bottom: 12px;
}

.pagenation div {
    font-size: 24px;
}

.pagenation p {
    margin-top: 4px;
    margin-left: 18px;
}

.pagenation p a {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    color: #fff;
}

/* style of footer */
.footer {
    grid-area: footer;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    background-color: #111;
    padding: 24px;

}

.footer span {
    font-size: 16px;
    padding: 12px;
    display: inline-block;


}

.footer a {
    text-decoration: none;
    color: blueviolet;

}

.line {
    border: 1px solid #999;
    margin-bottom: 16px;
}

.footer-2 a {
    text-decoration: none;
    margin-top: 20px;
    display: inline;
    color: #888;
    padding: 12px;

}

.footer-2 a:hover {
    border-bottom: 1px solid #888;

}